import route from "@/routes/route-client/blob";

static async function post() {
  const response = await route.post({
    body: new Blob(["hello"], { type: "application/octet-stream" })}
  );
  return new TextDecoder().decode(await response.arrayBuffer());
}

<await|result|=post()>
  <span id="result">${result}</span>
</await>
