import route from "@/routes/route-client/form";

static async function post() {
  const response = await route.post({ body: new URLSearchParams({ foo: "bar" }) });
  return response.json();
}

<await|result|=post()>
  <span id="result">${JSON.stringify(result)}</span>
</await>
