import Header from "@/components/Header";

export interface Input {
  pathname: string;
}

<Header title="Page not found"/>

<main>
  <article>
    <h1>Page not found</h1>

    <p>
      The requested page <strong>${input.pathname}</strong> does not exist.
    </p>
  </article>
</main>
