import { Form } from "@primate/marko/tags";

<Form/form initial={ email: "" } />

<if=form.submitted><p id="submitted">submitted</p></if>
<else>
  <form method="post" id=form.id onSubmit=form.submit>
    <button type="submit">Submit</button>
  </form>
</else>
