<style/styles>
  .hello {
    color: red;
  }
  .hello-foo {
    color: orange;
  }
</style>

<p class=styles.hello id="hello">Hello, world!</p>
<p class=styles["hello-foo"] id="hello-foo">Hello, world!</p>
