import route from "@/routes/route-client/action-redirect";
import { Form } from "@primate/marko/tags";

<Form/form action=route.post/>

<form id=form.id onSubmit=form.submit>
  <button id="send" type="submit">Send</button>
</form>
