import route from "#route/route-client/rest-path/[...name]";

export interface Input {
  name: string;
}

<let/result=null/>

<const/send=async () => {
  const response = await route.post({ path: { name: input.name } });
  result = await response.json();
}/>

<button onClick=send>Send</button>

<if=result !== null>
  <span id="result">${JSON.stringify(result)}</span>
</if>
