import route from "@/routes/route-client/text";

<let/result=null/>

<const/send=async () => {
  const response = await route.post({ body: "hello" });
  result = await response.text();
}/>

<button onClick=send>Send</button>

<if=result !== null>
  <span id="result">${result}</span>
</if>
