export interface Input {
  name: string;
  size?: number;
}

<const/name=input.name>
<const/size=input.size ?? 16>

<style>
  .icon {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    object-fit: contain;
    transform-origin: center center;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
</style>

<svg class="icon" width=size height=size>
  <use href=`#${name}`/>
</svg>
